{% extends 'base.html' %}


{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <br>
        <center>
            <h1 style="font-size: 71px;"><strong>XLEX | HOME</strong></h1>
        </center>          
            <br><br>
            <p style="font-family:Arial; text-align:justify">
                O Xlex é uma empresa especializada no mercado de ações. Acreditamos que a descentralização poderá ser
                uma porta de entrada para alcançarmos o desenvolvimento econômico social de forma <strong>equilibrada</strong>,
                <strong>equitativa</strong> e <strong>sustentável.</strong> Acreitamos também, que no mundo dos negócios
                ou, como preferimos chamar <small>"bussines relationships"</small> devem estar paltados sob os princípios da boa-fé e sob a édige dos valores morais, éticos e 
                das e exigências legais.
                <br><br>A propósito, a XLEX, tem a missão de oferecer ao público, insight, informativos e 
                debates relacionados às legalidades das ações e tranzações empresáriais  no mercado financeiro 
                nacional e internacional, especialmente no que tange aos Bitcois, NFT's e Tokens.Além disso, os 
                usuários também contarão com um espaço onde poderão acompanhar o mercado financeiro.
            </p>
            <center>
                <p style="color:blue;"> xlex.com.br</p>
                <small>Data: 13/07/2022</small><br>
                <small>By .MR |<strong> Brasil</strong></small>
            </center>
        </div>
    </div>
{% endblock %}

<!---->
<!---->
<!---->
<!---->